	
	html{
		min-width:320px;
	}
	
	html, body, div, p, h1, h2, h3, ul, ol, li, label{
		margin: 0;
		padding: 0;
		border: 0;
		font-family: sans-serif;
		color: gray;
	} 
	

		
	ul li, ol li{
		list-style: none;
	}
	
	a{
		text-decoration: none;
		cursor: pointer;
		color: #4545f8;
	}
				
	body{
		margin: 0;
		width: 100%;
		height: 100%;
	}	
	
	.header .logo{
	position: relative;
	top: 22px;
	margin: 0 0 0 165px;
	font-weight: bolder;
	font-family: 'Nanum Gothic',sans-serif;
	font-size: 62px;
/*	width: 53px; */
	width: 45;
	height: 33px;
	padding: 0;
	
	line-height: 62px;
	background-color: #fff;
	color: rgba(0,0,0,0.65);
	text-align: right;
	text-shadow:  0px 0px 1px white;
	
	background-image: url(/Images/Content/logo_d.png);
	background-size: 45px 33px;
	background-repeat: no-repeat;
	background-position: center center;
	}
	
	.header div span{

	 
	 position: relative; 
	 left: 220px; 
	 top: 5px; 
	 color: rgba(0,0,0,0.45)	
	 }

	.main{
	width: 100%;
	height: auto;

	}
	
	h1{
		margin: 0 auto;
		width: 320px;
		height: 40px;
		text-align: center;
		margin-top: 200px;;
		font-size: 1.125em;
	}
	
	.url{
		display: block;
	}

	
	
	/* To target IE 8, 9 and 10 Hacks */


	@media screen\0 {


		
	
	}
	/* only chrome browser css hack */
	
	@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
	
	}
		
		
		