<div class="slide-layer" id="sell-include-html">
<div class="layer-bg"></div>
<h2 class="ly-title">
	<span class="tit">차량번호 비교검색</span>
</h2>
<button type="button" class="layer_closer" onclick="goBack();" title="close">
	<span class="blind">close</span>
</button>

<div class="ly_body">
	<div class="ly_wrap">
		<h3 class="subTitle">검색하신 '19나2832'<br>차량의 가격비교입니다.</h3>	
		<div class="list">
			<ul>
				<li>
					<div class="tit">
						<a href="javascript:void(0);" class="link_">
							<span class="txt">지프 2.0 디젤 리미티드 AWD</span>
							<span class="seller">AJ셀카</span>
						</a>
					</div>
					<div class="cont">
						<p class="price">1,205만원</p>
					</div>
					<div class="bt">
						<p>경기 / 수원시</p>
<!-- 						<p></p> -->
					</div>
				</li>
				
				<li>
					<div class="tit">
						<a href="javascript:void(0);" class="link_">
							<span class="txt">지프 2.0 디젤 리미티드 AWD</span>
							<span class="seller">AJ셀카</span>
						</a>
					</div>
					<div class="cont">
						<p class="price">1,205만원</p>
					</div>
					<div class="bt">
						<p>경기 / 수원시</p>
<!-- 						<p></p> -->
					</div>
				</li>
				
				<li>
					<div class="tit">
						<a href="javascript:void(0);" class="link_">
							<span class="txt">지프 2.0 디젤 리미티드 AWD</span>
							<span class="seller">AJ셀카</span>
						</a>
					</div>
					<div class="cont">
						<p class="price">1,205만원</p>
					</div>
					<div class="bt">
						<p>경기 / 수원시</p>
<!-- 						<p></p> -->
					</div>
				</li>
				<li>
					<div class="tit">
						<a href="javascript:void(0);" class="link_">
							<span class="txt">지프 2.0 디젤 리미티드 AWD</span>
							<span class="seller">AJ셀카</span>
						</a>
					</div>
					<div class="cont">
						<p class="price">1,205만원</p>
					</div>
					<div class="bt">
						<p>경기 / 수원시</p>
<!-- 						<p></p> -->
					</div>
				</li>
				<li>
					<div class="tit">
						<a href="javascript:void(0);" class="link_">
							<span class="txt">지프 2.0 디젤 리미티드 AWD</span>
							<span class="seller">AJ셀카</span>
						</a>
					</div>
					<div class="cont">
						<p class="price">1,205만원</p>
					</div>
					<div class="bt">
						<p>경기 / 수원시</p>
<!-- 						<p></p> -->
					</div>
				</li>
				<li>
					<div class="tit">
						<a href="javascript:void(0);" class="link_">
							<span class="txt">지프 2.0 디젤 리미티드 AWD</span>
							<span class="seller">AJ셀카</span>
						</a>
					</div>
					<div class="cont">
						<p class="price">1,205만원</p>
					</div>
					<div class="bt">
						<p>경기 / 수원시</p>
<!-- 						<p></p> -->
					</div>
				</li>
			</ul>
			
		</div>
	</div>
	
</div>
</div>