

<div class="slide-layer" id="sell-include-html">
<div class="layer-bg"></div>
<h2 class="ly-title _sell">
<!-- 	<span class="tit">내게 맞는 매물 찾기 마법사</span> -->
<span class="_search" style="display: flex">
	<input class="_txt" type="text" >
	<span class="_option">상세조건</span>	
</span>	
</h2>
<button type="button" class="layer_closer _sell" onclick="goBack();" title="close">
	<span class="blind">close</span>
</button>

<div class="ly_body sell" style="background-color: #fff">
	<div>
		
	</div>
</div>
</div>