
	
	html{
		min-width:320px;
	}
	
	html, body, div, p, h1, h2, h3, ul, ol, li, label,input{
		margin: 0;
		padding: 0;
		border: 0;
		font-family: sans-serif;
	} 
	

		
	ul li, ol li{
		list-style: none;
	}
	
	a{
		text-decoration: none;
		cursor: pointer;
		color: #4545f8;
	}
	
	input[type="text"]{
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		padding: 0;
		box-shadow: 0px;
		text-decoration: none;
		text-indent: 10px;
		border: 1px solid rgba(0,0,0,0.15);
		color: gray;

		font-size: 1.025em;
	}
	
	input[type="number"]{
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		padding: 0;
		box-shadow: 0px;
		text-decoration: none;
		text-indent: 10px;
		border: 1px solid rgba(0,0,0,0.15);
		color: gray;
	    -moz-appearance:textfield;

		font-size: 1.025em;
	}
	
	input[type=number]::-webkit-outer-spin-button,
	input[type=number]::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;
	}
	
	input[type="submit"]{
		position: relative;
		left: 20px;
		width: 230px;
		height: 37px;
		line-height: 7px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14.5px;
	color: #ffffff;
	padding: 8px 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 5px;
	border: 0px solid #003366;
		outline: none;
		background: #615d65;
		cursor: pointer;
	}
	

			
	body{
		margin: 0;
		width: 100%;
		height: 100%;
	}	
	
	.header{
		width: 100%;
		height: 55px;
		background-color: #fff;
		z-index: 1000;
/* 		box-shadow: 0px 0px 8px black; */
		border-bottom-color: #000000;
		border-bottom: 1px solid rgba(0,0,0,0.25);
		
	}
	
	.header .logo{
	position: relative;
	top: 22px;
	margin: 0 0 0 115px;
	font-weight: bolder;
	font-family: 'Nanum Gothic',sans-serif;
	font-size: 62px;
/*	width: 53px; */
	width: 45;
	height: 33px;
	padding: 0;
	
	line-height: 62px;
	background-color: #fff;
	color: rgba(0,0,0,0.65);
	text-align: right;
	text-shadow:  0px 0px 1px white;
	
	background-image: url(/Images/Content/logo_d.png);
	background-size: 45px 33px;
	background-repeat: no-repeat;
	background-position: center center;
	
	}
	
	.header .header-container{
		max-width: 768px;
		min-width: 320px;
		margin: 0 auto;

		height: 55px;
		border: 0;
	}
	
	.header .header-container .deal{
		float: right;
		right: 25px;
		position: relative;
		width: 60px;
		height: 55px;
		text-align: center;
		line-height: 58px;
		display: inline-block;

	}
	
	.header .header-container .deal a{
		color: rgba(0,0,0,0.65);
		font-size: 10.5pt;
	}
	
	
	.header .header-container span{
	display: none;
	 
	 position: relative; 
	 left: 100px; 
	 
	 top: 5px; 
	 color: rgba(0,0,0,0.45)	
	 }


	.main{
	width: 100%;
	min-height: 580px;
	height: auto;

	}
	
	.top .subject{
	width: 100%;
    height: 70px;

	}
	
	.subject h1{

		width: 100%;
		height: 70px;
		text-align: center;
		line-height: 115px;
		margin: 0 auto;
		font-size: 1.2em;
	font-family: sans-serif;
	color: rgba(0,0,0,0.6);
	font-weight: 500;
	
	}
	
	.subject p{
		position: relative;
		margin: 0 auto;
		width: 100%;
		height: 30px;
		line-height: 19px;
		text-align: center;
		font-size: 0.8em;
	font-family: sans-serif;
	color: rgba(200,0,0,0.76);
	font-weight: 200;
	
	}
	
	
	.top .content{
		width: 100%;
		min-height: 430px;
		height: calc(100% - 345px); /* IE */
		height: -o-calc(100% - 345px); /* opera */
		height: -webkit-calc(100% - 345px); /* google, safari */
		height: -moz-calc(100% - 345px); /* firefox */
		
		max-height: 740px;


		display: -webkit-flex;
		display: flex;
-webkit-justify-content: center;
   justify-content: center;
   

	}
	

	.content .stage{
		min-width: 352px;
		height: 418px;
		height: 100%;	

	}
	
	
	.stage .councel{
		min-width: 352px;
		height: 123px;
		background-image: url(/Images/Content/councel.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		border-radius: 7px;	
		margin-bottom: 15px;
		
	}
	
	.stage .councel p{
		color: rgb(255,255,255);
		font-size: 18px;
		font-weight: 500;
		font-family: sans-serif;
		position: relative;
		top:93px;
		left: 15px;	
	}
	
	
	.stage .estimate{
		min-width: 352px;
		height: 123px;

		margin-bottom: 15px;
		background-image: url(/Images/Content/estimate.jpg);
		background-size: 100% auto;
		background-position-y: center;
		background-repeat: no-repeat;
		border-radius: 7px;	
	}
	
	.stage .estimate p{
		color: rgba(255, 255, 255, 0.8);
		font-size: 18px;
		font-weight: 500;
		font-family: sans-serif;
		position: relative;
		top:93px;
		left: 15px;	
	}
	
	
	.stage .deal{
		min-width: 352px;
		height: 123px;
		background-image: url(/Images/Content/deal.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		border-radius: 7px;	
	}
	
	.stage .deal p{
		color: rgba(0, 0, 0, 0.5);
		font-size: 18px;
		font-weight: 500;
		font-family: sans-serif;
		position: relative;
		top:93px;
		left: 15px;	
	}




	.content .view{
		min-width: 352px;
		height: 418px;
		height: 100%;
		background-image: url(/Images/Content/Intro/mockup.png);
		background-size: 352px 735px;
		background-repeat: no-repeat;
		background-position: center top;
		
		
	}


	
	.view .top{
		position: relative;
		top: 108px;
		left: 30px;
		width: 295px;
		height: 19px;
		background-image: url(/Images/Content/Intro/top1.png);
		background-size: 295px 19px;
		background-repeat: no-repeat;
		background-color: white;

	}
	
	.view .middle{
		position: relative;
		top: 108px;
		left: 30px;
		width: 295px;
		height: 291px;
		background-image: url(/Images/Content/Intro/middle1.png);
		background-size: 295px 295px;
		background-repeat: no-repeat;

	}
	
	
	
	.view .middle2{
		position: relative;
		top: -124px;
		left: 107px;
		width: 220px;
		height: 174px;
		background-image: url(/Images/Content/Intro/middle2.png);
		background-size: 215px 170px;
		background-repeat: no-repeat;
		cursor: pointer;
		z-index: 1;

	}
	


	.view .bottom{
		position: relative;
		top: -148px;
		left: 30px;
		width: 295px;
		height: calc(100% - 336px); /* IE */
		height: -o-calc(100% - 336px); /* opera */
		height: -webkit-calc(100% - 336px); /* google, safari */
		height: -moz-calc(100% - 336px); /* firefox */

		
		background-image: url(/Images/Content/Intro/bottom1.png);
		background-size: 295px 295px;
		background-repeat: no-repeat;
			
	}
	


	.view .cherish{
		position: relative;
		top: -780px;
		top: -761px;   /*  스마트폰 상태표시줄 보이기 + 19px */
		left: 30px;
		width: 295px;
		height: 523px;
		height: 504px;   /*  스마트폰 상태표시줄 보이기 - 19px */
		display: none;
		background-color:#f5f5f5;
		z-index: 2;
		overflow-x: scroll;

		
	}

	.view .cherish img{
		width:295px;
	}
	
	.content .explain{

		min-width: 320px;
		min-height: 360px;
		max-height: 740px;


/*
		display: -webkit-flex;
		display: flex;
-webkit-align-items: center;
   align-items: center;
*/
	}
	
	
	.explain .top{
		width: 100%;
		height: 340px;
		
		
	}
	
	.explain .top .car{
		width: 100%;
		height: 220px;
/* 		background-image: url(/Images/Content/k7.png); */
		background-size: 100% auto;
		background-position: center top;
	}
	
	.explain .top .compare{
		width: 100%;
		height: 120px;
		
			display: -webkit-box;
	display: -moz-box;
   	display: -ms-flexbox;
   	display: -webkit-flex;
   	display: flex;
-webkit-align-items: center;
   align-items: center;
	}
	
	.explain .top .compare .normalPrice{
		width: 40%;
		height: 100%;

	}
	
	.explain .top .compare .normalPrice .outReport li{
		width: 100%;
		height: 20px;
		text-align: center;
		margin-bottom: 4px;
		font-size: 10pt;
		line-height: 20px;
	}
	.explain .top .compare .normalPrice .outReport li:first-child{
		width: 100%;
		height: 30px;
		text-align: center;
		margin-bottom: 12px;
		font-weight: 700;
		line-height: 31px;
		font-size: 10.5pt;
		color: rgba(0,0,0,0.65);
	}
	
	
	.explain .top .compare .vs{
		width: 20%;
		height: 100%;

	}
	
	.explain .top .compare .vs .target{
		width: 100%;
		left: 0;
	}
	
	.explain .top .compare .vs .target li{
		width: 100%;
		height: 20px;
		text-align: center;
		margin-bottom: 4px;
		font-size: 8pt;
		line-height: 20px;
	}
	.explain .top .compare .vs .target li:first-child{
		width: 100%;
		height: 30px;
		text-align: center;
		margin-bottom: 12px;
		font-weight: 700;
		line-height: 30px;
		font-size: 12.5pt;
	}
	
	.explain .top .compare .downAuction{
		width: 40%;
		height: 100%;	
	}
	.explain .top .compare .downAuction .inReport li{
		width: 100%;
		height: 20px;
		text-align: center;
		margin-bottom: 4px;
		font-size: 10pt;
		line-height: 20px;
	}
	.explain .top .compare .downAuction .inReport li:first-child{
		width: 100%;
		height: 31px;
		text-align: center;
		margin-bottom: 12px;
		font-weight: 700;
		line-height: 30px;
		font-size: 10.5pt;
		color: rgba(0,0,0,0.65);
	}
	
	.explain .top .compare .downAuction .inReport .price2{
		width: 100%;
		height: 20px;
		text-align: center;
		margin-bottom: 4px;
		font-size: 10pt;
		line-height: 20px;
		font-weight: 800;
		color: rgb(180,0,0);
	}

	
	
	
	
	
	.explain .enter{
		width: 100%;
		height: 120px;

	}

	.explain h2{
		font-family: sans-serif;
		color: rgba(0,0,0,0.45);
		position: relative;
		width: 100%;
		text-align: center;
		font-size: 1.265em;
		height: 43px;
		
	}
	
	.explain .enter .send{
		position: relative;

		left: 20px;
	}
	
	.explain .enter .send li{
		position: relative;

		color: rgba(0,0,0,0.45);
		font-weight: 600;
		font-size: 0.985em;
		margin-bottom: 20px;
	}
	
	.name{
		height: 37px;
		width: 110px;
		
	}
	
	.phone{
		height: 37px;
		width: 210px;
	}
	
	.detail{
		font-size: 0.88em;
		text-decoration: underline;
	

	}
	
	
	
	
	.footer{
		width: 100%;
		height: 120px;

		margin-bottom: 0px;

		z-index: 5;


	}
	
	.footer .container{
		width:82%;
		max-width: 768px;
		border-top: 1px solid rgba(0,0,0,0.25);
		height: 84px;
		margin: 0px auto;
		position: relative;
		top: 35px;

	}
	
	
	
	/* To target IE 8, 9 and 10 Hacks */


	@media screen\0 {


		.main .top .subject h1{  /*  중고차, 시세모르고 잘 사려면? */
		font-size: 1.1em;
		font-family: sans-serif;
		color: rgba(0,0,0,0.6);
		font-weight: 600;
		}
		
		.main .top .subject p{
		font-size: 0.8em;
		font-family: sans-serif;
		color: rgba(200,0,0,0.76);
		font-weight: 600;
	
		}
		
		.explain .top .compare .normalPrice .outReport li:first-child{
			color: rgba(0,0,0,0.7);
		}
		
		.explain .top .compare .normalPrice .outReport .satisfaction1{
			font-weight: 600;
			font-size: 9pt;
		}
		
		.explain .top .compare .vs .target li{
			color: rgba(0,0,0,0.9);
			font-weight: 600;
		}
		
		.explain .top .compare .downAuction .inReport li:first-child{
			color: rgba(0,0,0,0.7);
		}
		.explain .top .compare .downAuction .inReport .satisfaction2{
			font-weight: 600;
			font-size: 9pt;
		}
	

		
	
	}
	/* only chrome browser css hack */
	
	@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
		
		.main .top .subject h1{  /*  중고차, 시세모르고 잘 사려면? */
		font-size: 1.1em;
		font-family: sans-serif;
		color: rgba(0,0,0,0.6);
		font-weight: 600;
		}
		
		.main .top .subject p{
		font-size: 0.8em;
		font-family: sans-serif;
		color: rgba(200,0,0,0.76);
		font-weight: 600;
	
		}
		
		.explain .top .compare .normalPrice .outReport li:first-child{
			color: rgba(0,0,0,0.7);
		}
		
		.explain .top .compare .normalPrice .outReport .satisfaction1{
			font-weight: 600;
		}
	
		
		.explain .top .compare .vs .target li{
			color: rgba(0,0,0,0.9);
			font-weight: 600;
		}
		
		.explain .top .compare .downAuction .inReport li:first-child{
			color: rgba(0,0,0,0.7);
		}
		
		.explain .top .compare .downAuction .inReport .satisfaction2{
			font-weight: 600;
		}
	
	
	}
